.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-navbar {
  background-color: #28a745;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%; /* Make the navbar full-width */
  /* z-index: 1000; Ensure the navbar appears above other content */
}

.custom-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 10 auto;
  padding: 8px 35px;
  justify-content: flex-start; /* Align elements to the left */
}


.custom-navbar-brand {
  font-size: 32px;
  text-decoration: none;
  color: white;
}

.custom-navbar-buttons {
  display: flex;
  gap: 10px; /* Add gap between buttons */
  margin-top: -5px; /* Adjust the gap's top margin for better alignment */
  margin-left: auto;
}

.custom-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
}

.custom-btn-info {
  background-color: #17a2b8;
  color: white;
}

.custom-btn-warning {
  background-color: #ffc107;
  color: white;
}

custom-carousel-image {
  height: 700px; /* Set your desired height */
  object-fit: cover;
}

/* Adjust carousel speed */
.carousel-inner {
  transition: transform 1s ease-in-out; /* Change the transition duration as needed */
}
.login-form {
  background-color: #ffffff;
  padding: 119px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 469px;
  margin: 8px auto 34px;
}
