.Login {
  background-image: url("../../assets/loginBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .login-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(4px);
    .login-box {
      padding: 30px 40px;
      border: 2px solid black;
      border-radius: 10px;
      max-width: 375px;
      .login-heading {
        font-size: 1.7rem;
        margin-bottom: 3px;
      }
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5px;
      }
      label {
        align-self: flex-start;
        font-size: 1.1rem;
        font-weight: 600;
      }
      .login-input {
        display: block;
        width: 100%;
        padding: 8px 12px;
        border-radius: 5px;
        outline: none;
        border: 1.4px solid black;
        background-color: #c5c4c442;
        font-size: 0.95rem;
      }
      .login-submit {
        width: 90%;
        border: none;
        color: black;
        background-color: #29b4ff;
        color: white;
      }
      .login-submit:hover {
        background-color: #1297df;
      }
      .signup-Navigate {
        margin-top: 5px;
        font-style: oblique;
        font-size: 0.9rem;
        font-weight: 600;
      }
      span {
        margin-left: 5px;
        .link {
          text-decoration: none;
          color: #29b4ff;
          font-weight: 400;
        }
      }
    }
  }
}
