// Search.scss

.search-container {
    width: 100%;
    padding: 20px;
  
    form {
      width: 100%;
      margin-bottom: 16px;
  
      .ant-input-search {
        width: 100%;
      }
  
      .ant-btn-primary {
        width: 100%;
      }
    }
  
    .result-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
  
      .ant-card {
        width: calc(33.33% - 16px); // Adjust the card width based on your layout preferences
      }
    }
  }
  